$mainColor: #d6e416;
$textBgColor: #fffefe;
$textColor: #333;

$tablet-width: 768px;
$desktop-width: 992px;

@mixin tablet{
    @media (min-width:#{$tablet-width}){
        @content
    }
}
@mixin desktop{
    @media (min-width:#{$desktop-width}){
        @content
    }
}